<nav class='nav'>
  <div class='nav-container'>
    <h1>Blogify</h1>
    <ul>
      <li><a href='#' class='btn-logout'>Log Out</a></li>
    </ul>
  </div>
</nav>

<form class='create' action='/' method='post'>
  <label for='title'>Enter a title</label>
  <input type='text' id='title' name='title' />

  <div class='editor-control'>
    <div id='editor'></div>
  </div>
</form>

<footer id='main-footer' class='text-center p-4'>
  <div class='footer-content'>
    <p>&copy; <span id='year'></span> Blogify</p>
  </div>
</footer>