<div class='landing-container'>
  <div>
    <h1 class='main-heading'>
      Welcome to
      <span
        class='txt-type'
        data-wait='3000'
        data-words='["Blogify", "Your Blog!"]'
      ></span>
    </h1>

    <div class='title'>
      <h3>Explore</h3>
      <p>
        Focus your creativity and publish your passions your way. Share news,
        knowledge, experiences, ideas. Use your own domain. Build the Blog
        you've always wanted for free.
      </p>
      <a class='btn-dark' href='/login'>Login</a>
      <a class='btn-dark' href='/signup'>Sign Up</a>
    </div>
  </div>

  <div class='guest-p'>
    <p>
      Here you can browse around and check out some random Blog Posts to get you
      interested!
    </p>

    <a class='btn-red' href='/guest/guestView'><span>Continue as Guest</span></a>
  </div>
</div>