<div class='container-form'>
  <div>
    <h1>Blogify</h1>
  </div>
  <form class='login-form'>
    <h3>Welcome Back</h3>

    <label for='name'>Enter your name</label>
    <input type='text' id='name' />

    <label for='password'>Enter your password</label>
    <input type='password' id='password' />

    <button class='btn-form'>Log In</button>
    <div class='social'>
      <a href='signup.html'>
        <div>
          <i class='fab fa-google'></i>
        </div>
      </a>
      <a href=''>
        <div class='fb'>
          <i class='fab fa-facebook'></i>
        </div>
      </a>
    </div>
  </form>
</div>