<div class='container-form'>
  <div>
    <h1>Blogify</h1>
  </div>
  <form action='/login' method='POST' class='login-form'>
    <h3>Welcome Back</h3>

    <label for='username'>Enter your name</label>
    <input type='text' id='username' name='username'/>

    <label for='password'>Enter your password</label>
    <input type='password' id='password' name='password'/>

    <button class='btn-form'>Log In</button>
    <div class='social'>
      <a href='/github'>
        <div>
          <i class='fab fa-github'></i>
        </div>
      </a>
      <a href=''>
        <div class='fb'>
          <i class='fab fa-facebook'></i>
        </div>
      </a>
    </div>
  </form>
</div>
{{#if errorMessage}}
  <div class='alert'>
    <span
      class='closebtn'
      onclick="this.parentElement.style.display='none';"
    >&times;</span>
    {{errorMessage}}
  </div>
{{/if}}