<div class='container-form'>
  <div>
    <h1>Blogify</h1>
  </div>

  <form action='/signup' method='POST'>
    <h3>Signup Here</h3>

    <label for='username'>Enter your name</label>
    <input type='text' id='username' name="username"/>

    <label for='bio'>Short bio</label>
    <input type='text' id='bio' name="bio"/>

    <label for='email'>Enter your email</label>
    <input type='text' id='email' name="email"/>

    <label for='password'>Pick a password</label>
    <input type='password' id='password' name="password" />

    <button type='submit' class='btn-form'>Sign Up</button>
    <div class='social'>
      <a href='signup.html'>
        <div>
          <i class='fab fa-google'></i>
        </div>
      </a>
      <a href=''>
        <div class='fb'>
          <i class='fab fa-facebook'></i>
        </div>
      </a>
    </div>
  </form>
</div>

{{#if errorMessage}}
  <div class='alert'>
    <span
      class='closebtn'
      onclick="this.parentElement.style.display='none';"
    >&times;</span>
    {{errorMessage}}
  </div>
{{/if}}