<nav class='nav'>
  <div class='nav-container'>
    <h1>Blogify</h1>
    <ul>
      <li><a href='/logout' class='btn-logout'>Log Out</a></li>
    </ul>
  </div>
</nav>

<div class='grid-container'>
  {{#each post}}
    <div class='blog-box'>
      {{#with editorId}}
        <h3>Written by: {{username}}</h3>
      {{/with}}
      <p>{{title}}</p>
      <a class='btn-logout' href='/details/{{_id}}'><span>Read More</span></a>
    </div>
  {{/each}}
</div>

<footer id='main-footer' class='text-center p-4'>
  <div class='footer-content'>
    <p>&copy; <span id='year'></span> Blogify</p>
  </div>
</footer>