<nav class='nav'>
  <div class='nav-container'>
    <h1>Blogify</h1>
    <ul>
      <li><a href='/logout' class='btn-logout'>Log Out</a></li>
    </ul>
  </div>
</nav>

<div class='profile-container'>
  <div>
    <figure class='profile-card'>
      <div class='profile-image'>
        <img src='https://source.unsplash.com/random/800x600' alt='#' />
      </div>
      <figcaption>

        <h3>{{username}}</h3>
        <p>
          {{bio}}
        </p>
      </figcaption>
    </figure>
  </div>

  <div>
    <h1>Welcome {{username}}</h1>
    <h3>What do you want to do today?</h3>
    <a class='btn-red' href=''><span>Create Blog Post</span></a>
    <a class='btn-red' href=''><span>View Blog Posts</span></a>
  </div>
</div>

<footer id='main-footer' class='text-center p-4'>
  <div class='footer-content'>
    <p>&copy; <span id='year'></span> Blogify</p>
  </div>
</footer>
